$primary: black;
/*accordion styles*/
$accordion-color: white;
$accordion-button-bg: black;
$accordion-padding-y: 2rem;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.logoAP{
    height:20px;
    width:25px;
}

.logoLI{
    height:25px;
    width:25px;
}

.toast{
    position: absolute;
    bottom: 0;
    right: 0;
}

.bannerImg{
    background-image: url('./assets/images/BannerFondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    width: 100vw;
    @include media-breakpoint-up(lg) {height: 30vh;}
    @include media-breakpoint-up(xl) {height: 35vh;}
}

.logoFP{
    height:40px;
    width:40px;
    @include media-breakpoint-up(md) {
        height:80px;
        width:80px;}
    @include media-breakpoint-up(lg) {
        height:120px;
        width:120px;}
    @include media-breakpoint-up(xl) {
        height:160px;
        width:160px;}
}

.nombrePerfil{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.etiquetaPerfil{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: italic;
}